<h1>DMCA Policy</h1>
<h3>Overview</h3>
<p>
  Users should only upload reviews and schedules that they made or that they're
  authorized to use. That means they should not upload reviews or schedules they
  didn't make, or use content in their uploads that someone else owns the
  copyright to, without necessary authorizations.
</p>
<h3>Fair Use</h3>
<p>
  Fair Use is an exception in the Canadian Copyright Act that allows for the
  reuse of copyright-protected material under certain circumstances without
  getting permission from the copyright owner. However, Fair Use is determined
  on a case by case basis, and different countries have different rules about
  when it's okay to use material without the copyright owner's permission.
</p>
<p>
  For more information, please refer to sections 29, 29.1 and 29.2 of the
  <a href="https://laws-lois.justice.gc.ca/eng/acts/C-42/Index.html">
    Copyright Act of Canada
  </a>.
</p>
<h3>Making Claims</h3>
<p>
  The fastest and easiest way to send a DMCA report of copyright infringement to
  our designated agent is to send an email to
  noreply.westernusc.timeline@gmail.com.
</p>
<h3>Enforcing Copyright</h3>
<p>
  If a copyright owner submits a valid DMCA complaint, we take down the uploaded
  content. We also have tools to help users resolve their copyright strikes -
  including waiting for it to expire after 14 days, requesting a retraction, or
  submitting a counter notification.
</p>
<p>
  If a user wishes to request a retraction or submit a counter notification.
  They can do so by emailing noreply.westernusc.timeline@gmail.com.
</p>
