<h1>Admin</h1>
<h3>Admin Accounts:</h3>
<a>Add New</a>
<ul>
  <li *ngFor="let admin of adminAccounts">
    <p>{{admin.name}} {{admin.email}}</p>
    <button (click)="removeAdmin(admin._id)">Remove admin</button>
  </li>
</ul>
<h3>Non-Admin Accounts:</h3>
<ul>
  <li *ngFor="let nonAdmin of nonAdminAccounts">
    <p>{{nonAdmin.name}} {{nonAdmin.email}}</p>
    <button (click)="createAdmin(nonAdmin._id)">Make admin</button>
  </li>
</ul>
<ul>
  <li>
    <a routerLink="/admin/manage-reviews">Manage Course Reviews</a>
  </li>
  <li>
    <a routerLink="/admin/manage-accounts">Manage User Accounts</a>
  </li>
  <li>
    <a>Update Security Policy</a>
  </li>
  <li>
    <a>Update Privacy Policy</a>
  </li>
  <li>
    <a>Update DMCA Policy</a>
  </li>
  <li>
    <a>Update Acceptable Use Policy</a>
  </li>
</ul>
