<h1>Acceptable Use Policy</h1>
<p>
  You are independently responsible for complying with all applicable laws in
  all of your actions related to your use of the Timetable's services,
  regardless of the purpose of the use. In addition, you must adhere to the
  terms of this Acceptable Use Policy.
</p>
<h3>Prohibited Activities</h3>
<p>You may not use the Timetable service if you:</p>
<ol>
  <li>Violate any law, statute, ordinance or regulation.</li>
  <li>Create more than one account (your own).</li>
  <li>Provide inaccurate information about yourself</li>
  <li>
    Share your password, give access to your Timetable account to others, or
    transfer your account to anyone else (without your permission).
  </li>
  <li>Are under 13 years old.</li>
  <li>
    Had an account that was previously disabled for violations of our Acceptable
    Use Policy
  </li>
</ol>
<h3>Activities Requiring Approval</h3>
<p>The following activities on this website that require approval:</p>
<ul>
  <li>Creating an account.</li>
  <li>Publishing a schedule.</li>
  <li>Publishing a review.</li>
</ul>
<p>
  If any of the aforementioned activities violate the Acceptable Use Policy,
  then we may revoke access to the website and/or delete published content
  from our servers.
</p>
<h3>More Information</h3>
<p>
  To learn more about the Acceptable Use Policy, please contact
  noreply.westernusc.timeline@gmail.com.
</p>
<h3>Violations of the Acceptable Use Policy</h3>
<p>
  We encourage you to report violations of this Acceptable Use Policy to
  Timetable. You can do so by emailing noreply.westernusc.timeline@gmail.com.
</p>
