<div *ngIf="showFlashMsg">
  <h3>{{flashMsg}}</h3>
</div>
<div *ngIf="account">
  <div class="account-info">
    <h2>Account Information</h2>
    <p><b>Name:</b> {{account.name}}</p>
    <p><b>Email:</b> {{account.email}}</p>
    <a routerLink="/request-password-reset">Change Password</a><br>
    <a *ngIf="account.isAdmin" routerLink="/admin">Admin Panel</a>
  </div>
  <div class="account-schedules-list">
    <h2>My Schedules ({{account.numSchedules}}) | </h2><a routerLink="/schedules/create">Create New</a>
    <div *ngIf="account.numSchedules > 0">
      <ul>
        <li *ngFor="let schedule of account.schedules">
          <div>
            <h3>{{schedule.name}} | ({{schedule.courses.length}} courses)</h3>
            <p>Last Modified: {{schedule.lastModified | date: 'MMMM dd, yyyy (h:m a)'}}</p>
          </div>
          <button routerLink="/schedules/edit/{{schedule._id}}">Edit</button>
          <button (click)="deleteSchedule(schedule._id)">Delete</button>
        </li>
      </ul>
    </div>
  </div>
</div>
