<div *ngIf="showErrorMsg">
  <h3>You must <a routerLink="/signin">sign in</a> to access this page.</h3>
</div>
<div *ngIf="account">
  <div class="account-info">
    <h2>Account Information</h2>
    <p><b>Name:</b> {{account.name}}</p>
    <p><b>Email:</b> {{account.email}}</p>
    <a routerLink="/request-password-reset">Change Password</a>
  </div>
  <div class="account-schedules-list">
    <h2>My Schedules ({{account.numSchedules}}) | </h2><a routerLink="/create-schedule">Create New</a>
    <div *ngIf="account.numSchedules > 0">
      <ul>
        <li *ngFor="let schedule of account.schedules">
          {{schedule.name}} ({{schedule.courses.length}})
          Last Modified: {{(getDateString(schedule.lastModified))}}
        </li>
      </ul>
    </div>
  </div>
</div>
