<h1>Western Timetable</h1>
<h3>Sign up</h3>
<div class="signup-form-container">
  <form>
    <label for="signup-name-input" class="hidden">Name</label>
    <input type="text" placeholder="Name" id="signup-name-input">
    <label for="signup-email-input" class="hidden">Email</label>
    <input type="text" placeholder="Email" id="signup-email-input">
    <label for="signup-password-input" class="hidden">Password</label>
    <input type="password" placeholder="Password" id="signup-password-input">
    <label for="signup-confirm-password-input" class="hidden">Confirm Password</label>
    <input type="password" placeholder="Confirm Password" id="signup-confirm-password-input">
    <button>Sign up</button>
  </form>
  <small>Already have an account? <a routerLink="/signin">Sign in.</a></small>
</div>
