<h1>Privacy Policy</h1>
<p>We collect the following information from our users:</p>
<ul>
  <li>Name</li>
  <li>Email</li>
</ul>
<p>
  We collect this information to create user accounts which permit special
  functionality on our website (e.g. creating schedules, reviewing courses.
</p>
<p>
  Upon creating an account, your name and email will be stored in a database
  on our server. Your information will not be sold to third-party companies,
  and your information will be used for identification purposes only
  (e.g. logging-in, displaying author of reviews, schedules, etc.). Note, this
  means your name will be publicly visible to any user of this website.
  However, your email will remain private to all users (with exception to your
  own account and administrators).
</p>
<p>
  In the event of a takeover or dissolution, we will provide an option to remove
  access to your name and email by deleting this information from database on our
  servers. In any case, a new privacy policy will be drafted in this situation and
  an option to opt-in or opt-out will be given.
</p>
