<h1>Western Timetable</h1>
<h3>Sign in</h3>
<div class="signin-form-container">
  <form>
    <label for="signin-email-input" class="hidden">Email</label>
    <input type="text" placeholder="Email" id="signin-email-input">
    <label for="signin-password-input" class="hidden">Password</label>
    <input type="password" placeholder="Password" id="signin-password-input">
    <button>Sign in</button>
  </form>
  <small><a>Forgot password?</a></small>
  <small>Don't have an account? <a routerLink="/signup">Sign up.</a></small>
</div>
<div>
  <button>Sign in with Google</button>
</div>
